name: deploy-website

on: [workflow_dispatch]

env:
  AZURE_RESOURCEGROUP_NAME: "rg-social"
  AZURE_RESOURCEGROUP_LOCATION: "australiaeast"

permissions:  
  id-token: write
  contents: read

jobs: 
  deploy: 
    runs-on: ubuntu-latest
    environment: production
    steps:
    - uses: actions/checkout@v2
      with:
        path: repo
    - uses: azure/login@v1
      with:
        client-id: ${{secrets.AZURE_CLIENT_ID}}
        tenant-id: ${{secrets.AZURE_TENANT_ID}}
        subscription-id: ${{secrets.AZURE_SUBSCRIPTION_ID}}
    - uses: Azure/CLI@v1
      with:
        inlineScript: |
          #!/bin/bash
          az group create --name ${{ env.AZURE_RESOURCEGROUP_NAME }} --location ${{ env.AZURE_RESOURCEGROUP_LOCATION }}
          echo "Azure resource group created"
    - uses: azure/arm-deploy@v1
      with:
        deploymentName: ${{ github.run_number }}
        resourceGroupName: env.AZURE_RESOURCEGROUP_NAME
        template: ./infrastructure/website.bicep
        parameters: name=social
